<section id="profile">
    <div class="section__pic-container">
        <!-- Margin radius of the picture  -->
        <img src="./assets/about.png.png" alt="Kwizera Janvier profile picture" />
    </div>
    <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Kwizera Janvier</h1>
        <p class="section__text__p2">Mathematician</p>
        <div class="btn-container">
            <button class="btn btn-color-2" onclick="window.open('./assets/cv.pdf')">
                Download CV
            </button>
            <button class="btn btn-color-1" onclick="location.href='./#contact'">
                Contact Info
            </button>
        </div>
        <div id="socials-container">
            <img src="./assets/linkedin.png" alt="My LinkedIn profile" class="icon"
                onclick="location.href='https://linkedin.com/'" />
            <!-- <img
            src="./assets/github.png"
            alt="My Github profile"
            class="icon"
            onclick="location.href='https://github.com/'"
          /> -->
        </div>
    </div>
</section>
<section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section-container">
        <div class="section__pic-container">
            <img src="./assets/profile.png" alt="Profile picture" class="about-pic" />
        </div>
        <div class="about-details-container">
            <div class="about-containers">
                <div class="details-container">
                    <img src="./assets/experience.png" alt="Experience icon" class="icon" />
                    <h3>Experience</h3>
                    <p>12+ years <br />Teaching Mathematics & Physics</p>
                </div>
                <div class="details-container">
                    <img src="./assets/education.png" alt="Education icon" class="icon" />
                    <h3>Education</h3>
                    <ul>
                        <li style="list-style: none;">
                            <p>B.Sc. Mathematics & <br> Computer Education </p>
                        </li>
                        <li style="list-style: none;">
                            <p>M.Sc. Planning & <br> Management Education</p>
                        </li>
                    </ul>
                    <!-- 
              Masters Degree</p> -->
                </div>
            </div>

            <div class="text-container">
                <div class="read-more">
                    <p>
                        A qualified and experienced of Planning and Management,Mathematics and
                        Computer , skilled in Electronics and Telecommunication, self-motivated
                        and hard working in all aspects of personal and group work with effective interpersonal skills
                        and
                        problem solving capabilities. Being a confident individual, planning skills and abilities to
                        learn
                        quickly.
                        <span class="readmore-text">
                            I enjoy being part of successful and productive teams and thrive in challenging working
                            environment, able to work well on own initiative and can demonstrate the high motivation
                            required
                            to meet tight deadlines.
                            My objective is built on an extensive range of professional skills acquired within a
                            suitably
                            challenging role, where skills, knowledge, and expertise gained throughout the experience
                            will be
                            transferred across and utilized to the best effect for the benefit of the organization.
                        </span>
                        <span class="read-more-btn">Read More....</span>
                    </p>
                </div>

            </div>
        </div>
        <!-- <button class="readmore-btn">Read More</button> -->
    </div>
    <img src="./assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#experience'" />
</section>
<section id="experience">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Experience</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container">
                <div class="article-container">
                    <p><span style="color: blue; font-weight: bold;">H</span>aving participated in the investigation of
                        science all through my own life, and having sought after
                        subjects at the undergrad level that feature both its hypothetical style and down-to-earth
                        application, I
                        accept I have shown the capacity and proceeded with energy to bestow this enthusiasm for the
                        discipline on
                        other people. Having likewise acquired some insight into the tremendously compensating nature of
                        education
                        through mentoring jobs, I have become similarly enthusiastic about acquiring the abilities and
                        information
                        to turn into a superb teacher as well as a normally solid mathematician.
                        Some say math "makes life as we know it possible," and they are correct; it sits inside our
                        day-to-day
                        existence without individuals acknowledging it. Science has forever been vital to me,
                        particularly all
                        through my school vocation, from being essential for an exceptional math bunch in elementary
                        school to
                        taking Math and Further Math A-levels. To get a numerical word, my affection for math has kept
                        on
                        developing "dramatically."
                        .</p>


                </div>
            </div>
            <div class="details-container">
                <div class="article-container">
                    <p class="exprience-text">
                        <span style="color: blue; font-weight: bold">M</span>ath supplements my character as well as the
                        other way around! I
                        love
                        critical thinking and scientific and
                        sensible viewpoints. I have a characteristic fitness for math; this was shown when I
                        accomplished the most
                        noteworthy A-level grade in my school year in 2008 for both math and material science. I
                        believed I had a
                        ton of unanswered inquiries and needed to find out more. It was, therefore, a simple choice for
                        me to
                        advance to a university.
                        As far back as I can recall, math has forever been my vitally scholastic interest. From figuring
                        out how
                        to add and deduct at my elementary school, to reading up on reconciliation for my math A-level,
                        I have
                        consistently seen this as a fascinating subject. My interest in science has permitted me to
                        succeed in the
                        subject consistently: I have been in the top gathering since elementary school, I acquired an A
                        grade in
                        my math A-level at optional school, and most recently I achieved a grade A at A-level, all
                        accomplishments
                        of which I'm very glad. I have shown understudies going from a decade old to nineteen years old.
                        <span class="read-more-btn" onclick="window.open('./assets/personalStament.pdf')">Read
                            More....</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <img src="./assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#projects'" />
</section>
<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Books</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <% if (files.length===0) { %>
                <p class="experience-sub-title project-title">No uploaded Files Yet!</p>
                <% }else { %>
                    <% files.forEach(file=> { %>
                        <div class="details-container color-container">
                            <div class="article-container">
                                <img src="./assets/certicate2.png" alt="Project 1" class="project-img" />
                            </div>
                            <p class="experience-sub-title project-title">
                                <%= file %>
                            </p>
                            <div class="btn-container">
                                <button class="btn btn-color-2 project-btn"
                                    onclick="window.open('./uploads/<%= file %>')">
                                    Read
                                </button>

                            </div>
                        </div>
                        <% }) %>
                            <%}%>

        </div>
    </div>
    <img src="./assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#contact'" />
</section>
<section id="contact">
    <p class="section__text__p1">Get in Touch</p>
    <h1 class="title">Contact Me</h1>
    <div class="contact-info-upper-container">
        <div class="contact-info-container">
            <img src="./assets/email.png" alt="Email icon" class="icon contact-icon email-icon" />
            <p><a href="mailto:examplemail@gmail.com">janvierkda88@gmail.com</a></p>
        </div>
        <div class="contact-info-container">
            <img src="./assets/linkedin.png" alt="LinkedIn icon" class="icon contact-icon" />
            <p><a href="https://www.linkedin.com">LinkedIn</a></p>
        </div>
    </div>
</section>